body {
  background-color: black;
  max-width: 775px;
  width: 85%;
  margin: 0 auto;
  color: white;
  font-family: "Caveat", cursive;
  padding: 0px;
  background-image: url("../images/pom.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
}

img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 200px; */
}

h1 {
  font-size: 38pt;
  text-align: center;
  color: palegoldenrod;
  font-family: "Caveat", cursive;
}

h2 {
  text-align: center;
  font-size: 24pt;
  color: palegoldenrod;
  font-family: "Caveat", cursive;
}

a {
  color: palegoldenrod;
  font-weight: bold;
  text-decoration: none;
}

/* ul {
  padding-left: 15px;
} */
.gallery {
  margin: 5px;
  float: left;
  width: 180px;
}

.gallery img {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 0px;
}

.mask:hover {
  -webkit-mask-image: -webkit-linear-gradient(darkred, transparent);
  mask-image: linear-gradient(darkred, transparent);
}
