body {
  padding: 0px;
  background-image: url("../images/wallpaper.jpg");
  background-repeat: repeat;
  background-position: left top;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
}
