body {
  background-color: #343434;
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 38pt;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 24pt;
}

h1, h2, h3, h4 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}

h3, h4 {
  color: palegoldenrod;
  margin-bottom: 0;
}

h3 {
  float: left;
  clear: left;
  margin-top: 0px;
  margin-left: 65px;
  font-size: 20pt;
}

h4 {
  font-size: 18pt;
}

.info {
  margin-left: 225px;
  max-width: 600px;
  line-height: 1.5;
}

.photo {
  float: right;
  display: inline;
  border: 2px solid grey;
  margin: 10px;
}

a {
  color: palegoldenrod;
  font-weight: bold;
}

ul {
  padding-left: 15px;
}

header {
  padding: 0px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: right top;
  margin-bottom: -50px;
}

footer {
  text-align: center;
  padding-top: 10px;
}

.content-wrap {
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.contact-list a {
  padding: 5px;
  display: inline-block;
}

.tool-list {
  list-style-type: none;
  padding-left: 0px;
}

.tool-list li {
  display: inline-block;
  padding: 5px;
}
